<nav>
    <ul>
        <li><a href="{{ path('index') }}">Home</a></li>
        <li><a href="{{ path('latest-uploaded-file') }}">Last Uploaded File</a></li>
        <li><a href="{{ path('latest-calc-file') }}">Last Calculated File</a></li>
        <li><a href="{{ path('upload-calc') }}">Upload & Calculate</a></li>
    </ul>
</nav>
